* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b1cbde;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    max-width: 800px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.magic-conch{
    margin-bottom: 20px;
    position: relative;
}

.magic-conch img {
    max-width: 100%;
    width: 300px;
    height: auto;
}

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.question-area input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.question-area button {
    background: #65709c;
    color: #FFF;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.question-area button:hover {
    background-color: #f7b948;
}

.reponse-area {
    font-size: 1.2rem;
}

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.character {
    width: 100px;
    height: auto;
    margin: 0 10px;
    cursor: pointer;
}

.character.selected {
    border: 3px solid #f7b948;
    border-radius: 5px;
}

.rotator-container{
    position: absolute;
    top: 48%; /* Custom position: Adjust these values as needed */
    left: 57%; /* Custom position: Adjust these values as needed */
    transform: translate(-50%, -50%) rotate(90deg);
}


.ripcord-container {
    position: relative;
    transition: transform 0.5s;
}

.handle {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgb(136, 55, 190);
    border-radius: 50%;
    cursor: pointer;
}

.handle-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #f0f0f0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.cord {
    position: absolute;
    top: 20px;
    left: 15px; /* Adjusted to center the cord */
    width: 5px;
    height: 0;
    background-color: rgb(149, 149, 112);
    transition: height 0.5s;
}